# Dependências 
node_modules/

# Relatórios gerados
reports/
playwright-report/
test-results/

# Variáveis de ambiente
.env
.env.local

# Sistema operacional
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/